/* General Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(133, 133, 133);
}
/* General Settings */

/* Main Settings */
#title {
  text-align: center;
  margin-top: 15px;
}

#color-palette {
  text-align: center;
  margin-top: 20px;
}

.color {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

#pixel-board {
  margin-top: 20px;
}

.pixel-line {
  display: block;
  height: 40px;
  width: 200px;
  margin: 0 auto;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-collapse: collapse;
}

.selected {
  font-size: 13px;
}

#clear-board {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(117, 37, 209);
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  display: block;
  margin: 20px auto 0;
}

/* Main Settings */
